@model List<Player>
@{
    ViewData["Title"] = "Players";
}

<h3>Admin Index of Players</h3>

<div class="container">
    <h1 class="text-center mb-4">Players</h1>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Player Name</th>
                        <th>Class</th>
                        <th>Health</th>
                        <th>Strength</th>
                        <th>Intelligence</th>
                        <th>Stamina</th>
                        <th>Stealth</th>
                        <th>Luck</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in Model)
                    {
                        <tr>
                            <td>@player.PlayerName</td>
                            <td>@player.Class</td>
                            <td>@player.Health</td>
                            <td>@player.Strength</td>
                            <td>@player.Intelligence</td>
                            <td>@player.Stamina</td>
                            <td>@player.Stealth</td>
                            <td>@player.Luck</td>
                            <td>@player.Alignment</td>
                            <td>
                                <a asp-controller="Player" asp-action="Edit"
                                   asp-route-id="@player.PlayerID">Edit</a>
                                <a asp-controller="Player" asp-action="Delete"
                                   asp-route-id="@player.PlayerID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>