@model PlayerViewModel
@{
    ViewData["Title"] = "Player Details";
}

<h2 class="text-center p-2;">Player Details</h2>

<div class="row">
    <div class="col">
        <ul class="list-group text-center">
            <li class="list-group-item">
                @if (Model.Player != null && Model.Player.PlayerImage != null)
{
                <img src="~/images/@Model.Player.PlayerImage.Image" alt="" />
}
                <h3>@Model.PlayerName</h3>
            </li>
            <li class="list-group-item">
                <h4>Alignment: @Model.Player.Alignment.AlignmentType</h4>
            </li>
            <li class="list-group-item">
                <h4>Name: @Model.Player.PlayerName</h4>
            </li>
            <li class="list-group-item">
                <h4>Class: @Model.Player.Class</h4>
            </li>
             <li class="list-group-item">
                <h4>Strength: @Model.Player.Strength</h4>
            </li>
             <li class="list-group-item">
                <h4>Stamina: @Model.Player.Stamina</h4>
            </li>
             <li class="list-group-item">
                <h4>Stealth: @Model.Player.Stealth</h4>
            </li>
             <li class="list-group-item">
                <h4>Health: @Model.Player.Health</h4>
            </li>
             <li class="list-group-item">
                <h4>Intelligence: @Model.Player.Intelligence</h4>
            </li>
            <li class="list-group-item">
                <h4>Luck: @Model.Player.Luck</h4>
            </li>
            <li class="list-group-item">
                <form asp-controller="Favorites" asp-action="Add" method="post">
                    <a asp-action="Index" class="btn btn-primary">
                        Return to Home Page
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Add to Favorites
                    </button>
                    <input type="hidden" asp-for="@Model.PlayerID" />
                    <input type="hidden" asp-for="@Model.PlayerName" />
                </form>
            </li>
        </ul>
    </div>
</div>