@{

    // use current controller or area to determine if tab is active
    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
        ViewContext.RouteData.Values["controller"]!.ToString()!;

    // use current action to determine active tab for register and change password tabs
    var action = ViewContext.RouteData.Values["action"]?.ToString()!;
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,
          initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validation.min.js">
    </script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
    <style>
        body {
            background-image: url('/Images/BackgroundParty.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
        label {
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ReadyPlayerOne</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" asp-controller="Player" asp-action="Create">Create Player</a>
                    <a class="nav-item nav-link" asp-controller="Player" asp-action="Catalogue">Catalogue</a>

                </div> <div class="navbar-nav ms-auto">
                </div>

                <ul class="navbar-nav ms-auto">
                <!-- Buttons and links could be a partial class or a view component -->
                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<User> signInManager
                @if (signInManager.IsSignedIn(User))
                {
                    // Signed-in user = Log Out button and username and change password link
                    <li class="nav-item">
                        <a class="nav-link @Nav.Active("ChangePassword", action)"
                           asp-action="ChangePassword" asp-controller="Account" asp-area="">
                            <span class="fas fa-edit"></span>&nbsp;Change Password
                        </a>
                    </li>
                    <li class="nav-item">
                        <form method="post" asp-action="LogOut" asp-controller="Account"
                              asp-area="">
                            <input type="submit" value="Log Out"
                                   class="btn btn-outline-light" />
                            <span class="text-light">@User.Identity?.Name</span>
                        </form>
                    </li>
                }
                else
                {
                    // Anonymous user = Register link and Log In button
                    <li class="nav-item">
                        <a class="nav-link @Nav.Active("Register", action)"
                           asp-action="Register" asp-controller="Account" asp-area="">
                            <span class="fas fa-edit"></span>&nbsp;Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Account"
                           asp-area="" class="btn btn-outline-light">Log In</a>
                    </li>
                }
                 
             </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
